<div class="history col-lg-6 col-md-8 col-sm-10" [@fadeIn]="''">
  <div class="history-title">
      <h3># task activity</h3>
  </div>
  <div class="row history-head">
    <div class="col-sm-5">Date</div>
    <div class="col-sm-2">User</div>
    <div class="col-sm-5">Action</div>
    <div class="clearfix"></div>
  </div>
  <div class="row list-container">
    <div class="history-body" *ngFor="let item of history">
      <div class="col-sm-5">{{item.created | date:'dd-MM-yyyy, h:mm a'}}</div>
      <div class="col-sm-2">{{item.historyUserName}}</div>
      <div class="col-sm-5">{{item.historyAction}} - {{item.historyChange}}</div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>